<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página Inicial</title>
</head>
<body>

<h1>Bem-vindo ao PbArtHub</h1>

<!-- Botão para a rota de criação de usuários -->
<button onclick="window.location.href='http://localhost:9090/PbArtHub/usuarios/novo';">
    Cadastrar Novo Usuário
</button>

<!-- Botão para a rota de listagem de usuários -->
<button onclick="window.location.href='http://localhost:9090/PbArtHub/usuarios';">
    Listar Usuários
</button>

<!-- Botão para a rota de criação de produtos -->
<button onclick="window.location.href='http://localhost:9090/PbArtHub/produtos/novo';">
    Cadastrar Novo Produto
</button>

<!-- Botão para a rota de listagem de produtos -->
<button onclick="window.location.href='http://localhost:9090/PbArtHub/produtos';">
    Listar Produtos
</button>

</body>
</html>
