<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" th:with="titulo='Acesso Vitrine'">

<body>
<div layout:fragment="content" class="container">
    <h2 class="title">Acesso à Vitrine</h2>
    <form action="#" th:action="@{/usuarios/vitrine/validar}" method="post">
        <div class="form-group">

            <div data-mdb-input-init class="form-outline mb-4">
                <input name="email_validar" type="email" class="form-control form-control-lg" placeholder="Email"/>
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
                <input name="senha_validar" type="password" class="form-control form-control-lg" placeholder="Senha"/>
            </div>

            <button type="submit" class="btn btn-outline-dark" >Entrar</button>
        </div>
    </form>

    <div th:if="${erro}" class="alert" id="alertPopup">
        <p th:text="${erro}"></p>
    </div>
</div>
</body>

</html>