<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
        th:with="titulo='Lista de Produtos'"
>

<body>
    <div layout:fragment="content" class="container container-start" style="position: relative;">

        <div>
            <h1 class="display-4" style="font-weight: 100; font-family: 'Open Sans', sans-serif; font-size: 40px;">Bem vindo <span th:text="${usuario.nome}"></span>, a Vitrine de Produtos da ArtHub</h1>
            <h1 class="display-4" id="subtituloVitrine">Lar do artesanato regional paraibano</h1>

        </div>

        <div id='estrutura'>

            <form th:action="@{/usuarios/exibirCarrinho}" method="post">
                <input type="hidden" name="usuarioCarrinhoId" th:value="${usuario.id}" />
                <button type="submit" class="btn btn-primary btn-lg">Ver o carrinho</button>
            </form>




            <div th:if="${sucess}" class="alert" id="alertPopup">
                <p th:text="${sucess}"></p>
            </div>

            <div class='vitrine'  th:action="@{/usuarios/carrinho}" method="post">
                <div th:each="produto : ${produtos}">
                    <div class='item'>
                        <h2 th:text="${produto.nome}"></h2>
                        <h3 th:text="'Descrição: ' + ${produto.descricao}"></h3>
                        <img th:src="${produto.imagemUrl}"
                             alt="Imagem do Produto">
                        <h3 th:text="'Preço: R$ ' + ${produto.preco}" id="preco"></h3>
                        <!--
                        <div style="align-items: center;">
                            <label for="${nome}">Quantidade </label>
                            <input style="color:black;text-align:center;width:70px;height:50px;align:left;border-radius:35px;" type="number" class='count' name="item" value="${nome}" id="${nome}">
                        </div>
                        -->
                        <input type="hidden" name="produtoCarrinho" th:value="${produto}" />
                        <input type="hidden" name="usuarioCarrinho" th:value="${usuario}" />
                        <button type="submit" class="btn btn-primary btn-lg">Adicionar ao carrinho</button>
                        <br>
                    </div>
                    <br>
                </div>
            </div>

        </div>
    </div>
</body>
</html>